	/* ---Box--- */
	.box {
		border: 1px solid v.$color-layout-grey-50;
		border-radius: v.$border-radius-large;
		margin-block-start: 15px;
		margin-block-end: 15px;

		&+.box {
			border-top: 1px solid v.$color-layout-grey-50;

		}
	}

	/* ---Desktop Ready--- */
	.project .box {
		width: 100%;
		margin-left: unset;
	}