.navigation.primary {
    &.toggle {
        width: auto;

        & li a {
            display: inline-block;
        }
    }

    &:hover li {
        & a {
            display: inline-block;
        }

        &.current-menu-item::before {
            background-color: v.$color-primary-sm;
        }

    }

}